body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.crop-data {
    display: flex;
    flex-direction: column;
}

.crop-info {
    display: flex;
    flex-direction: column;
}

.crop-info div {
    display: inline-block;
}
