body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.crop-data {
    display: flex;
    flex-direction: column;
}

.dynamic-crop-data {
    background: yellow;
}

.attribute-from-database {
    background: #ffa;
}

.growth-stage-index {
    display: inline-block;
}

.crop-info {
    display: flex;
    flex-direction: column;
}

.crop-info div {
    display: inline-block;
}

.crop-data input:invalid {
    border-color: red;
}
